* {
    margin: 0;
    padding: 0;
}

:root {
    --h2-size: 1.5em;
}

@font-face {
    font-family: Delius;
    src: url(fonts/Delius-Regular.ttf);
}

a {
    color: rgb(101, 68, 133);
    text-decoration: none;
}

body {
    position: absolute;
    display: flex;
    height: 100vh;
    mask-border-width: 100vw;
    background-color: aliceblue;
}

fieldset {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    padding-right: 100px;
    gap: 20px;
    border: none;
    padding-bottom: 50px;
    box-shadow: 10px;
}

form {
    background-color: white;
    padding: 20px 50px;
    display: block;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1),
                0 4px 8px rgba(0, 0, 0, 0.1);
}

input {
    outline: none;
    padding: 6px 12px;
    border-radius: 10px;
    border: 2px solid rgb(191, 198, 206);
    margin-right: 50px;
    width: 250px;
}

input:focus {
    border: 2px solid aqua;
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.1);
}

legend {
    font-size: var(--h2-size);
    font-weight: 600;
    padding-bottom: 10px;
}

button[type="submit"] {
    padding: 16px 20px;
    font-weight: 600;
    color: aliceblue;
    background-color:rgb(101, 68, 133);
    border-radius: 10px;
    border: 0px solid;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.555);
}

button[type="submit"]:active {
    background-color:rgb(44, 29, 58);
}

p {
    font-weight: 600;
}

.alt-login {
    padding-left: 50px;
}

.banner{
    box-sizing: border-box;
    position: relative;
    width: 35vw;
    background-image: url(imgs/banner-photo.png);
    background-position: -300px 0;
    background-repeat: no-repeat;
}

.banner > h1.form-heading {
    position: relative;
    top: 100px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 5em;
    background-color: rgba(0, 0, 0, 0.24);
    font-family: "Delius", sans-serif;
}

.content {
    width: 65vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-family: sans-serif;
}

.content > h2.description {
    font-size: var(--h2-size);
    width: 50ch;
    padding-left: 50px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.italicise {
    font-style: italic;
}

.password-status {
    position: absolute;
    bottom: 20px;
}